.nav_container {
    background:#426D49; 
}

.logo_row {
    display: flex;
    justify-content: center;
}

.logo {
    width: 25%;
}

/* .menu_expanded_left {
    background: purple;
    
} */

.menu_expanded {
    display: flex;
    justify-content: center;
}

.main_bar {
    width: 200px;
    font: 20px 'Fira Sans', sans-serif;
    text-align: center;
    display: inline-block; 
    margin-bottom: 5px;
    list-style:none;
    color: white;
    border-right:1px solid #fff; /* 在左侧加上分隔线 */
}

.main_bar a:link {
    color: white;
    text-decoration: none; /* 去掉下划线 */
    display: inline-block;
}

.main_bar a:visited {
    color: white;
    text-decoration: none; /* 去掉下划线 */
    display: inline-block;
}

.main_bar a:hover {
    width: 200px;
    background: white;
    color: #426D49;
}

.main_bar_left {
    width: 200px;
    font: 20px 'Fira Sans', sans-serif;
    text-align: center;
    display: inline-block; 
    margin-bottom: 5px;
    list-style:none;
    color: white;
}

.main_bar_left a:link {
    color: white;
    text-decoration: none; /* 去掉下划线 */
    display: inline-block;
}

.main_bar_left a:visited {
    color: white;
    text-decoration: none; /* 去掉下划线 */
    display: inline-block;
}

.main_bar_left a:hover {
    width: 200px;
    background: white;
    color: #426D49;
}