.menuList_wrapper {
  /* text-align: center; */
  width: 100%;
}

.title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  text-align: center;
  text-decoration: underline;
}

.menuList_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* list-style-type: none; */
  /* padding: 10px; */
  /* margin: 10px 10px 10px 10px; */
  
}


@media (max-width: 768px) {
  .menuList_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1390px) {
  .menuList_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

