.container {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 3fr 3fr;
}


.wrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    margin: 5% 5% 0% 20%;
}

.title {
    color: green;
    font-family: "Sofia", sans-serif;
    font-size: 1.2em;
    margin-bottom: 1%;
}





.text {
    font-family: Arial, Helvetica, sans-serif;
}

.image_wrapper {
    overflow: auto;
}



@media (max-width: 768px) {
    .container {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        transition-duration: 1s;

    }

    .wrapper {       
        font-size: 0.8em;
    }

    .img {
        margin-left: 30%;
    }
}
  
  @media (min-width: 768px) and (max-width: 1390px) {
    .wrapper {       
        font-size: 1em;
    }

    .image_wrapper {
        transition-duration: 1s;
        margin-top: 10%;
    }
}