.container {
    width: auto;
    height: 100%;
  }
  
.container a {
  text-decoration: none;
}

.container:hover {
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

  
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
 
  
.upper_image {
    text-align: center;
    padding: 10px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}


.name {
    font-size: 1.6em;
    text-align: center;
    color: black;
}


  
.text {
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 10px;
}

.price {
  font-size: 1.2em;
}


.button_row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  margin: 10px;
}


@media (max-width: 768px) {
  .name {
    font-size: 1.3em;
  }

  .text {
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1390px) {
  .name {
    font-size: 1.4em;
  }

  .text {
    font-size: 1em;
  }
}

